.page-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}
.header {
  font-size: clamp(2rem, 4rem, 5vw);
  line-height: 2.4;
  box-sizing: border-box;
  margin: 1%;
  width: 100%;
  text-align: center;
  perspective: 500px;
}
.body {
  font-size: clamp(1rem, 2rem, 5vw);
  line-height: 1.2;
  box-sizing: border-box;
  margin: 1%;
  width: 100%;
  text-align: center;
  perspective: 500px;
}

.link {
  color: blue
}

.link:hover {
  text-decoration: underline;
}

.wrap {
  height: 100%;
  width: 100%;
}
